<!DOCTYPE html>
<!--<html lang="en"   xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">-->
<html lang="en"   xmlns:th="www.thymeleaf.org">

<!--</html>-->
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <!--<link rel="stylesheet" href="css/style.css" />-->
    <link rel="stylesheet" href="/style.css" />
</head>
<body>

    <h3> Secure Page </h3>

    <a href="/logout"> logout </a>

    <img src="missing_dog_ohiyhq.jpg">
    <img src="index.png">
    <img src="s-l300_yrawuy.jpg">

 Find Lycos!!

</body>
</html>